.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.landingText {
  line-height: 20px;
  /* font-family: "roboto-regular"; */
  font-family: "irvin";
  font-size: 16px;
}

.title {
  /* font-family: "roboto-bold-condensed-italic"; */
  font-family: "irvin";
  font-size: 150px;
  line-height: 20px;
  color: #ffb4bf;
}

button {
  display: inline-block;
  background-color: #bdb9ba;
  border-radius: 10px;
  border: 4px;
  color: black;
  text-align: center;
  /* font-family: "roboto-regular";*/
  font-family: "irvin";
  font-size: 16px;
  padding: 8px;
  width: 200px;
  cursor: pointer;
  margin: 40px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

button:hover {
  background-color: #ffb4bf;
}

@font-face {
  font-family: "roboto-regular";
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold-condensed-italic";
  src: url("fonts/Roboto-BoldCondensedItalic.ttf");
}

@font-face {
  font-family: "irvin";
  src: url("fonts/Irvin-Heading.ttf");
}
