.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; 
}

.text{
    font-family: "roboto-regular";
    color: #FFB4BF;
    margin: 15px;
}

.authorYear {
    font-family: "roboto-regular";
    margin-bottom: 20px;
}

.sourceText {
    font-family: "roboto-regular";
    font-size: 10px;
    color: #aaa8a8;
}

button {
    display: inline-block;
    background-color: #F0EBEC;
    border-radius: 10px;
    border: 4px;
    color: black;
    text-align: center;
    font-family: "roboto-regular";
    font-size: 16px;
    padding: 8px;
    width: 100px;
    cursor: pointer;
    margin: 40px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

button:hover {
    background-color: #FFB4BF;
}

@font-face { 
	font-family: "roboto-regular"; 
	src: url('/fonts/Roboto-Regular.ttf'); 
}

@font-face { 
	font-family: "roboto-bold-condensed-italic"; 
	src: url('/fonts/Roboto-BoldCondensedItalic.ttf'); 
}